openapi: 3.1.0
info:
  description:
    "Public Vortex Payments API for customers, subscriptions, invoices,\
    \ payment requests, checkout, receipts, webhooks, tax."
  title: Vortex Payments API
  version: 2026-08
servers:
  - description: Production
    url: https://api.vortex.nyc
  - description: Local development
    url: http://localhost:3210
tags:
  - description: Billing lifecycle routes exposed through Vortex Payments.
    name: billing
  - description: "Products, prices, and billable catalog state."
    name: catalog
  - description: Hosted checkout session flows.
    name: checkout
  - description: "Credit note, refund, and refund reconciliation flows."
    name: credit-notes
  - description: "Customer balance grants, reversals, and expiration."
    name: customer-balance
  - description: Customer profiles and payment-facing customer state.
    name: customers
  - description: Coupons and applied discount lifecycle.
    name: discounts
  - description: Product access and entitlement state.
    name: entitlements
  - description: Hosted payment and customer-facing flows.
    name: hosted
  - description: "Invoice preview, creation, finalization, collection, and lifecycle."
    name: invoices
  - description: Customer payment method setup and management.
    name: payment-methods
  - description: Payment requests and payment links.
    name: payment-requests
  - description: Payment collection and reconciliation.
    name: payments
  - description: Merchant and account payment readiness.
    name: payments-readiness
  - description: Inbound payment processor webhook boundary.
    name: provider-webhook
  - description: "Quotes, quote versions, order forms, and orders."
    name: quotes
  - description: Receipt lookup and receipt lifecycle.
    name: receipts
  - description: Subscription creation and change lifecycle.
    name: subscriptions
  - description: "Tax quote, finalization, and evidence flows."
    name: tax
  - description: "Outbound webhook endpoints, events, deliveries, and replay."
    name: webhooks
paths:
  /health:
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_health_exact
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security: []
      summary: GET /health
      tags:
        - health
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/health" \
              -X GET \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getHealthExact, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getHealthExact({
              client: vortex,
            });
  /healthz:
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_healthz_exact
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security: []
      summary: GET /healthz
      tags:
        - health
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/healthz" \
              -X GET \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getHealthzExact, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getHealthzExact({
              client: vortex,
            });
  /customer-portal/{tail}:
    delete:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: delete_customer_portal_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: DELETE /customer-portal/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/customer-portal/" \
              -X DELETE \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { deleteCustomerPortalPrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await deleteCustomerPortalPrefix({
              client: vortex,
            });
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_customer_portal_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: GET /customer-portal/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/customer-portal/" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getCustomerPortalPrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getCustomerPortalPrefix({
              client: vortex,
            });
    patch:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: patch_customer_portal_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: PATCH /customer-portal/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/customer-portal/" \
              -X PATCH \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { patchCustomerPortalPrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await patchCustomerPortalPrefix({
              client: vortex,
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_customer_portal_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: POST /customer-portal/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/customer-portal/" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postCustomerPortalPrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postCustomerPortalPrefix({
              client: vortex,
            });
    put:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: put_customer_portal_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: PUT /customer-portal/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/customer-portal/" \
              -X PUT \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { putCustomerPortalPrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await putCustomerPortalPrefix({
              client: vortex,
            });
  /invoice/{tail}:
    delete:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: delete_invoice_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: DELETE /invoice/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/invoice/" \
              -X DELETE \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { deleteInvoicePrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await deleteInvoicePrefix({
              client: vortex,
            });
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_invoice_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: GET /invoice/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/invoice/" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getInvoicePrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getInvoicePrefix({
              client: vortex,
            });
    patch:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: patch_invoice_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: PATCH /invoice/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/invoice/" \
              -X PATCH \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { patchInvoicePrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await patchInvoicePrefix({
              client: vortex,
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_invoice_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: POST /invoice/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/invoice/" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postInvoicePrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postInvoicePrefix({
              client: vortex,
            });
    put:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: put_invoice_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: PUT /invoice/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/invoice/" \
              -X PUT \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { putInvoicePrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await putInvoicePrefix({
              client: vortex,
            });
  /webhooks/{provider}:
    delete:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: delete_webhooks_provider_exact
      parameters:
        - explode: false
          in: path
          name: provider
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - provider-signature: []
      summary: DELETE /webhooks/:provider
      tags:
        - provider-webhook
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/webhooks/:provider" \
              -X DELETE \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { deleteWebhooksProviderExact, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await deleteWebhooksProviderExact({
              client: vortex,
            });
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_webhooks_provider_exact
      parameters:
        - explode: false
          in: path
          name: provider
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - provider-signature: []
      summary: GET /webhooks/:provider
      tags:
        - provider-webhook
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/webhooks/:provider" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getWebhooksProviderExact, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getWebhooksProviderExact({
              client: vortex,
            });
    patch:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: patch_webhooks_provider_exact
      parameters:
        - explode: false
          in: path
          name: provider
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - provider-signature: []
      summary: PATCH /webhooks/:provider
      tags:
        - provider-webhook
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/webhooks/:provider" \
              -X PATCH \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { patchWebhooksProviderExact, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await patchWebhooksProviderExact({
              client: vortex,
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_webhooks_provider_exact
      parameters:
        - explode: false
          in: path
          name: provider
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - provider-signature: []
      summary: POST /webhooks/:provider
      tags:
        - provider-webhook
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/webhooks/:provider" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postWebhooksProviderExact, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postWebhooksProviderExact({
              client: vortex,
            });
    put:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: put_webhooks_provider_exact
      parameters:
        - explode: false
          in: path
          name: provider
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - provider-signature: []
      summary: PUT /webhooks/:provider
      tags:
        - provider-webhook
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/webhooks/:provider" \
              -X PUT \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { putWebhooksProviderExact, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await putWebhooksProviderExact({
              client: vortex,
            });
  /elements/card:
    delete:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: delete_elements_card_exact
      parameters:
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: DELETE /elements/card
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/elements/card?environment=sandbox&merchantAccountId=..." \
              -X DELETE \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { deleteElementsCardExact, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await deleteElementsCardExact({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_elements_card_exact
      parameters:
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /elements/card
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/elements/card?environment=sandbox&merchantAccountId=..." \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getElementsCardExact, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getElementsCardExact({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    patch:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: patch_elements_card_exact
      parameters:
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: PATCH /elements/card
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/elements/card?environment=sandbox&merchantAccountId=..." \
              -X PATCH \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { patchElementsCardExact, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await patchElementsCardExact({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_elements_card_exact
      parameters:
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /elements/card
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/elements/card?environment=sandbox&merchantAccountId=..." \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postElementsCardExact, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postElementsCardExact({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    put:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: put_elements_card_exact
      parameters:
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: PUT /elements/card
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/elements/card?environment=sandbox&merchantAccountId=..." \
              -X PUT \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { putElementsCardExact, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await putElementsCardExact({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
  /elements/payment-methods/tokenize:
    delete:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: delete_elements_payment_methods_tokenize_exact
      parameters:
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: DELETE /elements/payment-methods/tokenize
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/elements/payment-methods/tokenize?environment=sandbox&merchantAccountId=..." \
              -X DELETE \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { deleteElementsPaymentMethodsTokenizeExact, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await deleteElementsPaymentMethodsTokenizeExact({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_elements_payment_methods_tokenize_exact
      parameters:
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /elements/payment-methods/tokenize
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/elements/payment-methods/tokenize?environment=sandbox&merchantAccountId=..." \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getElementsPaymentMethodsTokenizeExact, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getElementsPaymentMethodsTokenizeExact({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    patch:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: patch_elements_payment_methods_tokenize_exact
      parameters:
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: PATCH /elements/payment-methods/tokenize
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/elements/payment-methods/tokenize?environment=sandbox&merchantAccountId=..." \
              -X PATCH \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { patchElementsPaymentMethodsTokenizeExact, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await patchElementsPaymentMethodsTokenizeExact({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_elements_payment_methods_tokenize_exact
      parameters:
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /elements/payment-methods/tokenize
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/elements/payment-methods/tokenize?environment=sandbox&merchantAccountId=..." \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postElementsPaymentMethodsTokenizeExact, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postElementsPaymentMethodsTokenizeExact({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    put:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: put_elements_payment_methods_tokenize_exact
      parameters:
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: PUT /elements/payment-methods/tokenize
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/elements/payment-methods/tokenize?environment=sandbox&merchantAccountId=..." \
              -X PUT \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { putElementsPaymentMethodsTokenizeExact, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await putElementsPaymentMethodsTokenizeExact({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
  /internal/hosted-pay/{tail}:
    delete:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: delete_internal_hosted_pay_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: DELETE /internal/hosted-pay/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/internal/hosted-pay/?environment=sandbox&merchantAccountId=..." \
              -X DELETE \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { deleteInternalHostedPayPrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await deleteInternalHostedPayPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_internal_hosted_pay_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /internal/hosted-pay/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/internal/hosted-pay/?environment=sandbox&merchantAccountId=..." \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getInternalHostedPayPrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getInternalHostedPayPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    patch:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: patch_internal_hosted_pay_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: PATCH /internal/hosted-pay/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/internal/hosted-pay/?environment=sandbox&merchantAccountId=..." \
              -X PATCH \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { patchInternalHostedPayPrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await patchInternalHostedPayPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_internal_hosted_pay_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /internal/hosted-pay/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/internal/hosted-pay/?environment=sandbox&merchantAccountId=..." \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postInternalHostedPayPrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postInternalHostedPayPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    put:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: put_internal_hosted_pay_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: PUT /internal/hosted-pay/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/internal/hosted-pay/?environment=sandbox&merchantAccountId=..." \
              -X PUT \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { putInternalHostedPayPrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await putInternalHostedPayPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
  /merchant-onboarding/{tail}:
    delete:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: delete_merchant_onboarding_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: DELETE /merchant-onboarding/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/merchant-onboarding/?environment=sandbox&merchantAccountId=..." \
              -X DELETE \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { deleteMerchantOnboardingPrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await deleteMerchantOnboardingPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_merchant_onboarding_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /merchant-onboarding/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/merchant-onboarding/?environment=sandbox&merchantAccountId=..." \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getMerchantOnboardingPrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getMerchantOnboardingPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    patch:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: patch_merchant_onboarding_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: PATCH /merchant-onboarding/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/merchant-onboarding/?environment=sandbox&merchantAccountId=..." \
              -X PATCH \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { patchMerchantOnboardingPrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await patchMerchantOnboardingPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_merchant_onboarding_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /merchant-onboarding/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/merchant-onboarding/?environment=sandbox&merchantAccountId=..." \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postMerchantOnboardingPrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postMerchantOnboardingPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    put:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: put_merchant_onboarding_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: PUT /merchant-onboarding/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/merchant-onboarding/?environment=sandbox&merchantAccountId=..." \
              -X PUT \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { putMerchantOnboardingPrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await putMerchantOnboardingPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
  /order-form/{tail}:
    delete:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: delete_order_form_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: DELETE /order-form/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/order-form/?environment=sandbox&merchantAccountId=..." \
              -X DELETE \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { deleteOrderFormPrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await deleteOrderFormPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_order_form_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /order-form/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/order-form/?environment=sandbox&merchantAccountId=..." \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getOrderFormPrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getOrderFormPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    patch:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: patch_order_form_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: PATCH /order-form/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/order-form/?environment=sandbox&merchantAccountId=..." \
              -X PATCH \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { patchOrderFormPrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await patchOrderFormPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_order_form_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /order-form/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/order-form/?environment=sandbox&merchantAccountId=..." \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postOrderFormPrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postOrderFormPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
    put:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: put_order_form_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - explode: true
          in: query
          name: environment
          required: true
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: merchantAccountId
          required: true
          schema:
            type: string
          style: form
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenericRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: PUT /order-form/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/order-form/?environment=sandbox&merchantAccountId=..." \
              -X PUT \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { putOrderFormPrefix, createVortex } from "@vortex-api/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await putOrderFormPrefix({
              client: vortex,
              query: { environment: "sandbox", merchantAccountId: "..." },
            });
  /v1/billing-accounts/{billingAccountId}:
    delete:
      description:
[...]
