openapi: 3.1.0
info:
  description:
    "Public Vortex Payments API for customers, subscriptions, invoices,\
    \ payment requests, checkout, receipts, webhooks, tax."
  title: Vortex Payments API
  version: 2026-08
servers:
  - description: Production
    url: https://api.vortex.nyc
  - description: Local development
    url: http://localhost:3210
tags:
  - description: Billing lifecycle routes exposed through Vortex Payments.
    name: billing
  - description: "Products, prices, and billable catalog state."
    name: catalog
  - description: Hosted checkout session flows.
    name: checkout
  - description: "Credit note, refund, and refund reconciliation flows."
    name: credit-notes
  - description: "Customer balance grants, reversals, and expiration."
    name: customer-balance
  - description: Customer profiles and payment-facing customer state.
    name: customers
  - description: Coupons and applied discount lifecycle.
    name: discounts
  - description: Product access and entitlement state.
    name: entitlements
  - description: Hosted payment and customer-facing flows.
    name: hosted
  - description: "Invoice preview, creation, finalization, collection, and lifecycle."
    name: invoices
  - description: Customer payment method setup and management.
    name: payment-methods
  - description: Payment requests and payment links.
    name: payment-requests
  - description: Payment collection and reconciliation.
    name: payments
  - description: Merchant and account payment readiness.
    name: payments-readiness
  - description: Inbound payment processor webhook boundary.
    name: provider-webhook
  - description: Receipt lookup and receipt lifecycle.
    name: receipts
  - description: Subscription creation and change lifecycle.
    name: subscriptions
  - description: "Tax quote, finalization, and evidence flows."
    name: tax
  - description: "Outbound webhook endpoints, events, deliveries, and replay."
    name: webhooks
paths:
  /healthz:
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_healthz_exact
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security: []
      summary: GET /healthz
      tags:
        - health
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/healthz" \
              -X GET \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getHealthzExact, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getHealthzExact({
              client: vortex,
            });
  /invoice/{tail}:
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_invoice_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: GET /invoice/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/invoice/" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getInvoicePrefix, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getInvoicePrefix({
              client: vortex,
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_invoice_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: POST /invoice/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/invoice/" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postInvoicePrefix, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postInvoicePrefix({
              client: vortex,
            });
  /pay/{tail}:
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_pay_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: GET /pay/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/pay/" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getPayPrefix, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getPayPrefix({
              client: vortex,
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_pay_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - checkout-token: []
      summary: POST /pay/*
      tags:
        - hosted
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/pay/" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postPayPrefix, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postPayPrefix({
              client: vortex,
            });
  /webhooks/{tail}:
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_webhooks_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - provider-signature: []
      summary: POST /webhooks/*
      tags:
        - provider-webhook
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/webhooks/" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postWebhooksPrefix, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postWebhooksPrefix({
              client: vortex,
            });
  /customer-portal/{tail}:
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_customer_portal_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /customer-portal/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/customer-portal/" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getCustomerPortalPrefix, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getCustomerPortalPrefix({
              client: vortex,
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_customer_portal_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /customer-portal/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/customer-portal/" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postCustomerPortalPrefix, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postCustomerPortalPrefix({
              client: vortex,
            });
  /mcp:
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_mcp_exact
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /mcp
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/mcp" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getMcpExact, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getMcpExact({
              client: vortex,
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_mcp_exact
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /mcp
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/mcp" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postMcpExact, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postMcpExact({
              client: vortex,
            });
  /merchant-onboarding/{tail}:
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_merchant_onboarding_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /merchant-onboarding/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/merchant-onboarding/" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getMerchantOnboardingPrefix, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getMerchantOnboardingPrefix({
              client: vortex,
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_merchant_onboarding_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /merchant-onboarding/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/merchant-onboarding/" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postMerchantOnboardingPrefix, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postMerchantOnboardingPrefix({
              client: vortex,
            });
  /v1/applied-coupons:
    get:
      operationId: listAppliedCoupons
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppliedCouponListResponse"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: List applied billing coupons
      tags:
        - billing
        - discounts
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/applied-coupons" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { listAppliedCoupons, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await listAppliedCoupons({
              client: vortex,
            });
  /v1/applied-coupons/{tail}:
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_v1_applied_coupons_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /v1/applied-coupons/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/applied-coupons/" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getV1AppliedCouponsPrefix, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getV1AppliedCouponsPrefix({
              client: vortex,
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_v1_applied_coupons_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /v1/applied-coupons/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/applied-coupons/" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postV1AppliedCouponsPrefix, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postV1AppliedCouponsPrefix({
              client: vortex,
            });
  /v1/billing/collect-invoice-payment:
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_v1_billing_collect_invoice_payment_exact
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /v1/billing/collect-invoice-payment
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/billing/collect-invoice-payment" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postV1BillingCollectInvoicePaymentExact, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postV1BillingCollectInvoicePaymentExact({
              client: vortex,
            });
  /v1/billing/customer-payment-methods:
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_v1_billing_customer_payment_methods_exact
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /v1/billing/customer-payment-methods
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/billing/customer-payment-methods" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postV1BillingCustomerPaymentMethodsExact, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postV1BillingCustomerPaymentMethodsExact({
              client: vortex,
            });
  /v1/billing/merchant-readiness:
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_v1_billing_merchant_readiness_exact
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /v1/billing/merchant-readiness
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/billing/merchant-readiness" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postV1BillingMerchantReadinessExact, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postV1BillingMerchantReadinessExact({
              client: vortex,
            });
  /v1/billing/reconcile-invoice-payment:
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_v1_billing_reconcile_invoice_payment_exact
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /v1/billing/reconcile-invoice-payment
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/billing/reconcile-invoice-payment" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postV1BillingReconcileInvoicePaymentExact, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postV1BillingReconcileInvoicePaymentExact({
              client: vortex,
            });
  /v1/billing/reconcile-invoice-refund:
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_v1_billing_reconcile_invoice_refund_exact
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /v1/billing/reconcile-invoice-refund
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/billing/reconcile-invoice-refund" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postV1BillingReconcileInvoiceRefundExact, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postV1BillingReconcileInvoiceRefundExact({
              client: vortex,
            });
  /v1/billing/refund-invoice-payment:
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_v1_billing_refund_invoice_payment_exact
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /v1/billing/refund-invoice-payment
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/billing/refund-invoice-payment" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postV1BillingRefundInvoicePaymentExact, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postV1BillingRefundInvoicePaymentExact({
              client: vortex,
            });
  /v1/catalog:
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_v1_catalog_exact
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /v1/catalog
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/catalog" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getV1CatalogExact, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getV1CatalogExact({
              client: vortex,
            });
  /v1/checkout/sessions:
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_v1_checkout_sessions_exact
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /v1/checkout/sessions
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/checkout/sessions" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getV1CheckoutSessionsExact, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getV1CheckoutSessionsExact({
              client: vortex,
            });
    post:
      operationId: createCheckoutSession
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  mode: subscription
                  customerExternalId: cus_123
                  subscriptionExternalId: sub_123
                  collectionMode: automatic
                  lineItems:
                    - priceId: price_core_monthly
                      quantity: 1
                  createdByRef: internal-integration
            schema:
              $ref: "#/components/schemas/CreateCheckoutSessionRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCheckoutSessionResponse"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: Create a hosted checkout session
      tags:
        - billing
        - checkout
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/checkout/sessions" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{"mode":"subscription","customerExternalId":"cus_123","subscriptionExternalId":"sub_123","collectionMode":"automatic","lineItems":[{"priceId":"price_core_monthly","quantity":1}],"createdByRef":"internal-integration"}'
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { createCheckoutSession, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await createCheckoutSession({
              client: vortex,
              body: {"mode":"subscription","customerExternalId":"cus_123","subscriptionExternalId":"sub_123","collectionMode":"automatic","lineItems":[{"priceId":"price_core_monthly","quantity":1}],"createdByRef":"internal-integration"},
            });
  /v1/checkout/sessions/{tail}:
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_v1_checkout_sessions_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /v1/checkout/sessions/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/checkout/sessions/" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getV1CheckoutSessionsPrefix, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getV1CheckoutSessionsPrefix({
              client: vortex,
            });
  /v1/cli/listen/ack:
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_v1_cli_listen_ack_exact
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /v1/cli/listen/ack
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/cli/listen/ack" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postV1CliListenAckExact, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postV1CliListenAckExact({
              client: vortex,
            });
  /v1/cli/listen/next:
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_v1_cli_listen_next_exact
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /v1/cli/listen/next
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/cli/listen/next" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getV1CliListenNextExact, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getV1CliListenNextExact({
              client: vortex,
            });
  /v1/cli/listen/register:
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_v1_cli_listen_register_exact
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /v1/cli/listen/register
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/cli/listen/register" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postV1CliListenRegisterExact, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postV1CliListenRegisterExact({
              client: vortex,
            });
  /v1/coupons:
    get:
      operationId: listCoupons
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CouponListResponse"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: List billing coupons
      tags:
        - billing
        - discounts
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/coupons" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { listCoupons, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await listCoupons({
              client: vortex,
            });
    post:
      operationId: createCoupon
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  couponId: coupon_123
                  code: SAVE25
                  name: Save 25%
                  discountType: percentage
                  percentage: 25
                  duration: forever
                  targets:
                    priceIds:
                      - price_123
            schema:
              $ref: "#/components/schemas/CreateCouponRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CouponResponse"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: Create a billing coupon
      tags:
        - billing
        - discounts
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/coupons" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{"couponId":"coupon_123","code":"SAVE25","name":"Save 25%","discountType":"percentage","percentage":25,"duration":"forever","targets":{"priceIds":["price_123"]}}'
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { createCoupon, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await createCoupon({
              client: vortex,
              body: {"couponId":"coupon_123","code":"SAVE25","name":"Save 25%","discountType":"percentage","percentage":25,"duration":"forever","targets":{"priceIds":["price_123"]}},
            });
  /v1/coupons/{tail}:
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_v1_coupons_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /v1/coupons/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/coupons/" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getV1CouponsPrefix, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getV1CouponsPrefix({
              client: vortex,
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_v1_coupons_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /v1/coupons/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/coupons/" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postV1CouponsPrefix, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postV1CouponsPrefix({
              client: vortex,
            });
  /v1/credit-notes:
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_v1_credit_notes_exact
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /v1/credit-notes
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/credit-notes" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getV1CreditNotesExact, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getV1CreditNotesExact({
              client: vortex,
            });
    post:
      operationId: createCreditNote
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  creditNoteId: cnote_123
                  invoiceId: inv_123
                  reason: product_unsatisfactory
                  refundAmount: 2500
                  lines:
                    - invoiceLineId: line_123
                      description: Refund unused service
                      amount: 2500
                      bucket: refund
            schema:
              $ref: "#/components/schemas/CreditNoteCreateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditNoteResponse"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: Create a credit note with explicit line attribution
      tags:
        - billing
        - credit-notes
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/credit-notes" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{"creditNoteId":"cnote_123","invoiceId":"inv_123","reason":"product_unsatisfactory","refundAmount":2500,"lines":[{"invoiceLineId":"line_123","description":"Refund unused service","amount":2500,"bucket":"refund"}]}'
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { createCreditNote, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await createCreditNote({
              client: vortex,
              body: {"creditNoteId":"cnote_123","invoiceId":"inv_123","reason":"product_unsatisfactory","refundAmount":2500,"lines":[{"invoiceLineId":"line_123","description":"Refund unused service","amount":2500,"bucket":"refund"}]},
            });
  /v1/credit-notes/{tail}:
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_v1_credit_notes_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /v1/credit-notes/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/credit-notes/" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getV1CreditNotesPrefix, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getV1CreditNotesPrefix({
              client: vortex,
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_v1_credit_notes_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /v1/credit-notes/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/credit-notes/" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postV1CreditNotesPrefix, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postV1CreditNotesPrefix({
              client: vortex,
            });
  /v1/customers:
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_v1_customers_exact
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /v1/customers
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/customers" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getV1CustomersExact, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getV1CustomersExact({
              client: vortex,
            });
  /v1/customers/{tail}:
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_v1_customers_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /v1/customers/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/customers/" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getV1CustomersPrefix, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getV1CustomersPrefix({
              client: vortex,
            });
    patch:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: patch_v1_customers_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: PATCH /v1/customers/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/customers/" \
              -X PATCH \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { patchV1CustomersPrefix, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await patchV1CustomersPrefix({
              client: vortex,
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_v1_customers_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /v1/customers/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/customers/" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postV1CustomersPrefix, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postV1CustomersPrefix({
              client: vortex,
            });
    put:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: put_v1_customers_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: PUT /v1/customers/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/customers/" \
              -X PUT \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { putV1CustomersPrefix, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await putV1CustomersPrefix({
              client: vortex,
            });
  /v1/deposit-balance-payables:
    post:
      operationId: createDepositBalancePayable
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  sourceType: document_payment_field
                  sourceId: field_1
                  documentId: doc_1
                  paymentFieldId: field_1
                  customerExternalId: vtx_cust_seal_org_1
                  billingAccountId: bacc_1
                  currency: USD
                  taxMode: not_taxable
                  collectionIntent: manual
                  feePolicy: {}
                  deposit:
                    dueAt: 2026-08-01T00:00:00Z
                    amountDue: 5000
                    lineItems: []
                  balance:
                    dueAt: 2026-09-01T00:00:00Z
                    amountDue: 5000
                    lineItems: []
                  metadata: {}
            schema:
              $ref: "#/components/schemas/CreateDepositBalancePayableRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayableResponse"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: Create a deposit + balance document payable
      tags:
        - billing
        - payables
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/deposit-balance-payables" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{"sourceType":"document_payment_field","sourceId":"field_1","documentId":"doc_1","paymentFieldId":"field_1","customerExternalId":"vtx_cust_seal_org_1","billingAccountId":"bacc_1","currency":"USD","taxMode":"not_taxable","collectionIntent":"manual","feePolicy":{},"deposit":{"dueAt":"2026-08-01T00:00:00Z","amountDue":5000,"lineItems":[]},"balance":{"dueAt":"2026-09-01T00:00:00Z","amountDue":5000,"lineItems":[]},"metadata":{}}'
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { createDepositBalancePayable, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await createDepositBalancePayable({
              client: vortex,
              body: {"sourceType":"document_payment_field","sourceId":"field_1","documentId":"doc_1","paymentFieldId":"field_1","customerExternalId":"vtx_cust_seal_org_1","billingAccountId":"bacc_1","currency":"USD","taxMode":"not_taxable","collectionIntent":"manual","feePolicy":{},"deposit":{"dueAt":"2026-08-01T00:00:00Z","amountDue":5000,"lineItems":[]},"balance":{"dueAt":"2026-09-01T00:00:00Z","amountDue":5000,"lineItems":[]},"metadata":{}},
            });
  /v1/deposit-balance-payables/{tail}:
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_v1_deposit_balance_payables_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /v1/deposit-balance-payables/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/deposit-balance-payables/" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getV1DepositBalancePayablesPrefix, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getV1DepositBalancePayablesPrefix({
              client: vortex,
            });
  /v1/entitlements/grant:
    post:
      operationId: grantEntitlement
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  customerExternalId: cus_123
                  entitlementKey: pro
                  source: operator
                  sourceRef: launch-proof
            schema:
              $ref: "#/components/schemas/GrantEntitlementRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntitlementResponse"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: Grant a customer entitlement
      tags:
        - billing
        - entitlements
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/entitlements/grant" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{"customerExternalId":"cus_123","entitlementKey":"pro","source":"operator","sourceRef":"launch-proof"}'
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { grantEntitlement, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await grantEntitlement({
              client: vortex,
              body: {"customerExternalId":"cus_123","entitlementKey":"pro","source":"operator","sourceRef":"launch-proof"},
            });
  /v1/entitlements/revoke:
    post:
      operationId: revokeEntitlement
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  customerExternalId: cus_123
                  entitlementKey: pro
                  source: operator
                  sourceRef: launch-proof
                  reason: downgrade
            schema:
              $ref: "#/components/schemas/RevokeEntitlementRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntitlementResponse"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: Revoke a customer entitlement
      tags:
        - billing
        - entitlements
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/entitlements/revoke" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{"customerExternalId":"cus_123","entitlementKey":"pro","source":"operator","sourceRef":"launch-proof","reason":"downgrade"}'
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { revokeEntitlement, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await revokeEntitlement({
              client: vortex,
              body: {"customerExternalId":"cus_123","entitlementKey":"pro","source":"operator","sourceRef":"launch-proof","reason":"downgrade"},
            });
  /v1/events:
    get:
      operationId: listWebhookEvents
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookEventListResponse"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: List outbound webhook events
      tags:
        - billing
        - webhooks
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/events" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { listWebhookEvents, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await listWebhookEvents({
              client: vortex,
            });
  /v1/events/{tail}:
    get:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: get_v1_events_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: GET /v1/events/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/events/" \
              -X GET \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { getV1EventsPrefix, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await getV1EventsPrefix({
              client: vortex,
            });
    post:
      description:
        "Generated route-discovery operation. Promoted operations in this\
        \ spec carry exact request and response schemas; use this route entry for\
        \ auth, path, idempotency, and error semantics until the route is promoted."
      operationId: post_v1_events_prefix
      parameters:
        - description:
            Remainder of the prefix-routed path. See route docs/contract
            for exact sub-operation.
          explode: false
          in: path
          name: tail
          required: true
          schema:
            type: string
          style: simple
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
          description: Success
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationFailure"
        "429":
          $ref: "#/components/responses/RateLimited"
        default:
          $ref: "#/components/responses/ApiError"
      security:
        - api-key: []
      summary: POST /v1/events/*
      tags:
        - public
      x-codeSamples:
        - lang: Shell
          label: curl
          source: |-
            curl "https://api.vortex.nyc/v1/events/" \
              -X POST \
              -H "Authorization: Bearer $VORTEX_API_KEY" \
        - lang: TypeScript
          label: TypeScript
          source: |-
            import { postV1EventsPrefix, createVortex } from "@vortexnyc/payments-sdk/2026-08";

            const vortex = createVortex({ apiKey: process.env.VORTEX_API_KEY });
            const { data } = await postV1EventsPrefix({
              client: vortex,
            });
  /v1/installment-payables:
    post:
      operationId: createInstallmentPayable
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  sourceType: document_payment_field
                  sourceId: field_1
                  documentId: doc_1
                  paymentFieldId: field_1
                  customerExternalId: vtx_cust_seal_org_1
                  billingAccountId: bacc_1
                  currency: USD
                  taxMode: not_taxable
                  collectionIntent: manual
                  feePolicy: {}
                  installments: []
                  metadata: {}
            schema:
              $ref: "#/components/schemas/CreateInstallmentPayableRequest"
        required: true
[...]
